AUTH0_DOMAIN=dev-nz115b8posmhlw8u.us.auth0.com
AUTH0_AUDIENCE=https://piedrazul-api

# SQLite (desarrollo local)
DATABASE_URL="file:./dev.db"

# PostgreSQL (produccion)
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB?schema=public"
